html{
    background: rgb(227, 238, 255);
}

#Summary{
    color:rgb(255, 255, 255);
    font-weight: 900;
    font-family: serif;
    text-align: center;
}
#Education{
    border:30px solid red;
    background-color: #0CABA8;
}