html{
    background: blue;
}

#Summary{
    color:rgb(255, 255, 255);
    font-weight: 900;
    font-family: serif;
    text-align: center;
}
#Education{
    border:10px 40px 10px 40px;
    background-color: #0CABA8;
}