.flag{
    border:10px;
    background-color: red;
    height: 600px;
    width: 900px;
}
.flag p{
    object-position: center;
    color: white;  
    font-size: large;
}
.centerflag{
    height: 300px;
    width: 900px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.circle{

}

